body {
    font-family: 'Hind', sans-serif;
    margin: 0;
}

header {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.logo {
    margin: 0 auto;
    position: relative;
}

h1 {
    font-size: 35px;
    padding: 7vh;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 10% 0;
}

nav ul li {
    list-style: none;
}

nav ul li  {
    display: block;
    border: 1px solid black;
    width: 25vh;
    height: 25vh;
    background: black;
    box-shadow: -45px 20px 0px 1px rgba(0,0,0,0.75);
}

nav ul li p {
    font-size: 20px;
    color: white;
}

.level:hover nav ul li p{
    color: black;
}

.level_one {
    background: url("img/img1.png");
    background-size: cover;
}

.level_two {
    background: url("img/img2.png");
    background-size: cover;
}

.level_three{
    background: url("img/img3.png");
    background-size: cover;
}

.level:hover {
    animation-name: sadow;
    animation-duration: 1s;
}


@keyframes sadow{
    from {box-shadow: -45px 20px 0px 1px rgba(0,0,0,0.75);}
    to {box-shadow: -25px 20px 0px 1px rgba(0,0,0,0.75);}
}